doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block body
    h1= title
    p Welcome to #{title}
    #container
        span hello user, lets have some rock n roll
    div(content)
        div(ui-view)
    footer
        div(message) Hosted on Node Server
        div(serverDetail) time HH:mm:ss